<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio para los coches ! cambialo por favor</title>
</head>
<body>
    <main>
        <h1>ESTO ES A MODO DE EJEMPLO</h1>

        {% for coche in coche_list%}
        <div class="list">
            <span>
                <p>{{forloop.counter}}</p>
            </span>
            <span>
                <p>{{coche.nombre}}</p>
            </span>
        </div>
        {% endfor %}
</main>
</body>
</html>