{% extends 'catalogo.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimus Coches</title>
</head>
<body>
    <main>
        <h1>Los mejores Coches del Mercado te los entrega Optimus</h1>

        {% for coche in coche_list%}
        <div class="list">
            <span>
                <p>{{forloop.counter}}</p>
            </span>
            <span>
                <p>{{coche.nombre}}</p>
            </span>
        </div>
        {% endfor %}
    </main>
</body>
</html>
{% endblock  %} 